@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif ';

}

body {
    background-color: black;
    color: white;
}

.left {
    padding: 10px;
    /* width: 444px; */

}

.home {
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0px;
    position: relative;
}

.home ul li {
    list-style: none;
    width: 14px;
    gap: 13px;
    display: flex;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    list-style: none;
    /* width: 14px; */
    gap: 13px;
    display: flex;
    padding-top: 14px;
    padding: 23px 14px;
    align-items: center;
    font-weight: bold;
}

.heading img {
    width: 25px;
}

.library {
    min-height: 80vh;
    position: relative;
    /* max-height: 80vh; */
    /* overflow-y: scroll;
    max-height: 65vh; */

}

.footer {
    display: flex;
    position: absolute;
    /* position: sticky; */
    bottom: 0px;
    font-size: 10px;
    gap: 13px;
    padding: 34px 0px;

}

.footer a {
    color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(55, 54, 54);
}

.header>* {
    padding: 20px;
}
.hamburger{
    display: none;
}

.spotifyPlaylist {
    padding: 16px;
}

.spotifyPlaylist h1 {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin: 30px;
    overflow-y: auto;
    max-height: 65vh;

}

.card {
    width: 200px;
    padding: 10px;
    background-color: rgb(70, 69, 69);
    border-radius: 5px;
    position: relative;
    /* border: 2px solid red; */
}
.card:hover{
    background-color: rgb(118, 117, 117);
    cursor: pointer;
    transition: all .9s ease-in-out;
    --a:1
}

.card>* {
    padding-top: 10px;

}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    /* border: 2px solid #000; */
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 18px;
    opacity: var(--a);
    transition: all 1 ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    font-weight: bold;
    background-color: rgb(55, 54, 54);
    color: rgb(134, 132, 132);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    color: black;
    border-radius: 21px;
    width: 80px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    position: fixed;
    padding: 16px;
    bottom: 30px;
    background-color: #dadada;
    width: 70vw;
    border-radius: 15px;
    filter: invert(1);

    justify-content: center;
    display: flex;
    /* gap: 19px   ; */


}

.songbtn {
    gap: 19px;
    display: flex;
}

.songList {
    height: 444px;
    margin-bottom: 44px;
    overflow: auto;
}

.songList ul {
    padding: 0 12px;

}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    cursor: pointer;
    gap: 10px;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    border-radius: 5px;
    justify-content: space-between;
}

.songList info {
    font-size: 13px;
}

.playNow {
    align-items: center;
    justify-content: center;
    display: flex;
}

.playNow span {
    font-size: 15px;
}

.seekbar {
    height: 6px;
    background-color: black;
    width: 98%;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 6px;
}

.circle {
    width: 21px;
    height: 21px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    border-radius: 13px;
    transition: left 0.5s;
}

.songbtn img {
    cursor: pointer;
}
.songinfo{
    color: black;
    /* width: 250px; */
}
.songtime{
    color: black;
    /* padding: 0 19px; */
}
/* .timevol{
    

} */

.volume{
    cursor: pointer;
}
/* .volume:hover::after{
    content: "gfdgd ";
    
} */

.abovebar {
    display: flex;
    color: black;
    justify-content: space-between;
}
.close{
    position: absolute;
    top: 20px;
    left: 408px;
    display: none;
    cursor: pointer;
}

@media(max-width:1400px){
    .left{
        /* background-color: red ; */
        width: 444px;
        position: absolute;
        left: -110%;
        transition: all .3s;
        z-index: 1;
        background-color: black;
    }
    .right{
        width: 100%;

    }
    .playbar{
        width: 88%;
    }
    .songtime{
        color: black;
        font-size: 12px;
        /* display: flex; */
        /* padding: 0 19px; */
    }
    .timevol{
        flex-direction: column;
    }
    .songinfo{
        color: black;
        font-size: 12px;
        /* padding: 0 19px; */
    }
    .seekbar{
        width: 86%;
    }
    .hamburger{
        display:block;
    }
    .close{
        position: absolute;
        top: 20px;
        left: 315px;
        display: block;
        cursor: pointer;
    }
    .card{
        width: 90vw;
    }
    .cardContainer{
        width: 100%;
        justify-content: center;
        margin: 0px;
    }
    .right{
        margin: 0;
    }

}